<div class="bar">
  <div class="sidebar-btn">
    <span class="fas fa-bars"></span>
  </div>

  <aside class="sidebar">
    <div class="text text-center">BookCarte</div>
    <ul>
      <li><a routerLink="/admin/home" routerLinkActive="router-link-active" (click)="clickEvent()"
          class="list-group-item list-group-item-action">Dashboard</a>
      </li>
      <li><a routerLink="/admin/category" routerLinkActive="router-link-active" (click)="clickEvent()"
          class="list-group-item list-group-item-action">Category</a>
      </li>
      <li><a routerLink="/admin/book" routerLinkActive="router-link-active" (click)="clickEvent()"
          class="list-group-item list-group-item-action">Book</a>
      </li>
      <li><a routerLink="/admin/author" routerLinkActive="router-link-active" (click)="clickEvent()"
          class="list-group-item list-group-item-action">Author</a>
      </li>
      <li><a routerLink="/admin/user" routerLinkActive="router-link-active" (click)="clickEvent()"
          class="list-group-item list-group-item-action">User</a>
      </li>
    </ul>
  </aside>
</div>