<footer class="footer bg-light py-3 d-flex justify-content-center align-items-center text-center" style="height: fit-content" [hidden]="!islogged">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 mb-3 mb-md-0">
        <h4 class="text-black">ABOUT US</h4>
        <p>
          BookCrate is a platform for book lovers to discover and purchase their
          favorite books online.
        </p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h4 class="text-black">FOLLOW US</h4>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-black">CONTACT US</h4>
        <address>
          BookCrate Inc.<br />
          Assiut, Egypt<br />
          Phone: (123) 456-7890<br />
          Email: info@bookcrate.com
        </address>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <p class="text-muted">© 2023 BookCrate - All Rights Reserved</p>
      </div>
      <div class="col-md-6 text-md-right">
        <img src="../../../assets/crs.png" alt="crs" />
      </div>
    </div>
  </div>
</footer>
